* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #666;
}

.wrapper {
    max-width: 800px;
    margin: 5rem auto;
}

canvas {
    border: 1px solid black;
}

.card {
    display: flex;
    justify-content: center;
    border-radius: 4px;
    background-color: white;
    padding: 1rem;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}